@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

.video {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 1050px;
  margin: 0 auto;
}
