.khan__buy-link {
  text-decoration: none;
  line-height: 32px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  transition: 0.3s ease-in-out;
}

.khan__buy-link:hover {
  color: #2f81edb0;
}
